.popup {
  position: absolute;
  z-index: 4000;
  width: 250px;
  height: auto;
  padding: 0.5rem;
  border-radius: 8px;
  color: white;
}

.popup--theme-color-light {
  background-color: #3a86ff;
}

.popup--theme-color-dark {
  background-color: #bb86fc;
}

.popup::before {
  content: "";
  position: absolute;
  left: 150px;
  top: -10px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.popup--theme-color-light::before {
  border-bottom-color: #3a86ff;
}

.popup--theme-color-dark::before {
  border-bottom-color: #bb86fc;
}

.popup img {
  display: block;
  border-radius: 8px;
}
